@import url('https://fonts.googleapis.com/css?family=Bungee');

.App {
  text-align: center;
  background: url('https://www.desktopbackground.org/p/2011/07/11/232895_super-mario-wallpapers-8-bit-dota-2-and-e-sports-geeks-dota-2-and_1680x1050_h.jpg');
  /* background-position: cover; */
  background-attachment: fixed;
  background-size: 100vw;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  /* box-shadow: #282c347c 5px 5px 5px; */
  color: white;
  background-color: #cb0012;
  width: 100%;
}

.header img {
  height: 80px;
}

.App-link {
  color: #61dafb;
}

.games-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-top: 130px;
  border: solid 5px #cb0012;
}

.game-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 450px;
  padding: 0 20px;
  border: solid 5px rgb(255, 255, 255);
  background-color: rgba(70, 69, 69, 0.637);
  position: relative;
}

.game-card-complete {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 450px;
  padding: 0 20px;
  border: solid 5px rgb(255, 255, 255);
  background-color: rgba(42, 173, 71, 0.637);
  position: relative;
}

.game-card > img, .game-card-complete > img {
  height: 150px;
  max-width: 110px;
  border-radius: 15px;
}

.game-card p, .game-card-complete p {
  color: white;
  text-align: left;
  background-color: rgba(56, 56, 56, 0.945);
  padding: 5px;
  border-radius: 15px;
  border: solid 5px #cb0012;
  max-height: 120px;
  min-height: 120px;
  min-width: 200px;
}

.game-card h2, .game-card-complete h2 {
  color: white;
  text-align: left;
  background-color: #cb0012;
  border: solid 5px white;
  border-radius: 15px;
  padding: 10px;
}

.icon-1, .icon-2, .icon-3 {
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  cursor: pointer;
}

.icon-2 {
  top: 40px;
  right: 8px;
  height: 20px;
}

.main-display {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.favorites-bar {
  position: fixed;
  display: flex;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color:  #282c34;
  z-index: 2;
}

.content-display {
  display: flex;
  flex-direction: column;
}

.favorites-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 40px;
  height: 80px;
}

.favorites-display h3 {
  font-size: 12px;
  color: white;
}

.favorites-display > img {
  height: 50px;
  justify-content: center;
  align-items: center;
}

.fav-img {
  height: 50px;
  justify-content: center;
  align-items: center;
}

.favorites-card {
  height: 150px;
  border-radius: 15px;
  margin-right: 50px;
  position: relative;
  min-width: 150px;
}

.fav-delete {
  height: 15px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}